.App {
  text-align: center;
  background-image: url(https://www.unsa.ba//themes/unsa/images/logo.jpg);
  background: lavender;

}
.App1 {
  text-align: center;
  background-image: url(https://www.unsa.ba//themes/unsa/images/logo.jpg);
  background: #ffc4e1;

}
.Naslov{
  color: crimson;
}



